body {
    font-family: Arial, sans-serif;
    background-image: url("cities.png");
    background-size: cover;
    background-position: center;
    margin: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.Citycounter {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: pink;
    width: 350px;
}

h1 {
    color: Green;
}

#letterInput {
    padding: 10px;
    font-size: 16px;
    width: 100px;
    margin-bottom: 15px;
    text-align: center;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: Green;
}



